+link.backTop.d-block.d-md-none
footer#footer
    .container.position-relative
        .neo#shop
        +titCont(1, "SHOP")
        .row.py-30.py-md-50
            .col-md-6.mb-5.mb-md-0.text-center
                p.mb-4
                    +link("/").d-inline-block.logo: +img("assets/images/logo.svg", "六本木さんど")
                .text-left.d-inline-block
                    p.text-white TEL
                        span.text-white.noTel 03-6447-4319
                    p.text-white.
                        営業時間 22:00 ~ 4:30<br>
                        〒106-0032<br>
                        東京都港区六本木7-13-2 アーバンビル 6F<br>
                        定休日/日曜・祝日　
            .col-md-6
                iframe.coMap(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5173475262345!2d139.7286650152584!3d35.66426138019822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b78685b034d%3A0x4255f5c4a546791d!2z5pel5pys44CB44CSMTA2LTAwMzIg5p2x5Lqs6YO95riv5Yy65YWt5pys5pyo77yX5LiB55uu77yR77yT4oiS77ySIDZG!5e0!3m2!1sja!2s!4v1600743215741!5m2!1sja!2s' width='100%' height='348' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
    p.text-white.text-center.copyRight Copyright 六本木さんど　All Rights Reserved.