.effect-underline {@include effect-underline(2px, 4px, 0, #363738);}
.spBars {padding: 0; border: none; border-radius: 0; padding: relative; z-index: 10; @include size($headSP); @include position(absolute, -1rem, -1.5rem);
    .header_MenuButton {@include size(2.6rem, 1.8rem); display: inline-block; transition: all .4s; box-sizing: border-box; position: relative;
        span {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            position: absolute;
            right: 0;
            @include size(100%, 0.1rem);
            background-color: $white;
            transition: all .25s .25s;
            &:nth-of-type(1) {top: -1px; @include animation('menu-bar01 .75s forwards');}
            &:nth-of-type(2) {top: 50%; margin-top: -1px; transition: all .25s .25s; opacity: 1;}
            &:nth-of-type(3) {bottom: 0; @include animation('menu-bar02 .75s forwards');}
        }
        &.active {
            span:nth-of-type(1) {top: -1.5px; @include animation('active-menu-bar01 .75s forwards');}
            span:nth-of-type(2) {opacity: 0;}
            span:nth-of-type(3) {bottom: -1.5px; @include animation('active-menu-bar02 .75s forwards');}
        }
    }
}
$posSPmenu: $headSP - 0.1rem;
#topMenu {
    @include position(fixed, $posSPmenu, auto, auto, 0);
    @include size(100%, calc(100vh - #{$posSPmenu}));
    transition: 0.6s;
    opacity: 0;
    pointer-events: none;
    background-color: $black_1;
    overflow: auto;
    .menu {list-style: none; width: 100%;
        .nav {
            &-item {@include mg(all, 0 0 0 5rem, 0 0 1rem 0); @include pd(all, 3rem 0, 1.5rem);
                &:last-child {@include pd(x, 5rem); background-color: #C7A978;
                    .nav-link {background-color: #EF3C3C; @include pd(all, 0.2rem);}
                }
                &:first-child {margin-left: 0 !important;}
            }
            &-link {@include fSize(1.8rem); @include pd(all, 0, 2rem 0);}
        }
    }
    &.act {opacity: 1; pointer-events: auto;}
    @include resp(md) {background-color: transparent; opacity: 1; pointer-events: auto; @include position(static); height: auto; overflow: initial;
        .menu {width: auto;}
        .sns {@include mg(y, -1.5rem, 0);
            &-item {@include size(5.5rem); border-left: solid 0.1rem $white;
                &:not(:last-child) {border-bottom: solid 0.1rem $white;}
                img {width: 2.4rem;}
            }
        }
    }
}
.spBars {
    &:focus, &:hover, &:active, &:visited {outline: none !important;}
}