$xs: 320px;
$xxs: 414.98px;
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1279.98px;

$main_font: 10px;

$white: #fff;
$black: #030000;
$black_1: #1f2020;
$col_main: #979460;
$col_txt: $black;

$headPC: 11rem;
$headSP: 6rem;
$menuPd-l: 1.5rem;
$actLine: 10px;